@import url('https://fonts.cdnfonts.com/css/gotham-pro');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
  --main-light-color: #ffffff;
  --main-black-color: #292929;
  --main-blue-color: #3066c2;
  --main-yellow-color: #f1bd06;
  --main-gray-color: #32373a;
}

*,
html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  margin: 0;
}

h2 {
  font-family: 'Gotham Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container,
.biography__container {
  width: 100%;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.fp-watermark {
  display: none;
}

.fp-is-overflow .fp-overflow.fp-auto-height-responsive,
.fp-is-overflow .fp-overflow.fp-auto-height,
.fp-is-overflow > .fp-overflow {
  /* overflow-y: inherit; */
}

.slick-prev,
.slick-next {
  display: none !important;
}

header,
footer {
  width: 100%;
  position: fixed;
}

.header__inner,
.footer__inner {
  background: rgba(225, 236, 255, 0.8);
}

header {
  top: 0;
  z-index: 50;
}

.corners {
  position: relative;
}

.corner {
  background: radial-gradient(circle at 100% 36%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(225, 236, 255, 0.8) 50%,
      rgba(225, 236, 255, 0.8) 100%);
  background-size: 100% 200%;
  height: 85px;
  width: 57px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.top-right {
  left: auto;
  right: 0;
  transform: scale(-1, 1);
}

.bottom-left {
  top: auto;
  left: 0;
  bottom: 0;
  transform: scale(1, -1);
}

.bottom-right {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}

.header__container {
  padding-top: 20px;
  padding-bottom: 16px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 172px;
  height: 22px;
}

.sub__menu {
  display: none;
}

.menu {
  display: none;
  font-weight: 400;
  font-size: 22px;
  color: #3066c2;
}

.menu__item:hover,
.menu__item:focus {
  font-weight: 700;
}

.menu .menu__item:hover > a::after,
.menu .menu__item:focus > a::after {
  content: '';
  display: block;
  width: 104px;
  height: 4px;
  background: #f1bd06;
}

.open {
  display: none;
}

.open svg,
.close svg {
  fill: #3066c2;
}

.close {
  font-weight: 800;
  font-size: 12px;
  color: #3066c2;
  text-transform: uppercase;
}

.close svg {
  margin-right: 11px;
}

.mobile__menu-btn.active .close {
  display: none;
}

.mobile__menu-btn.active .open {
  display: block;
}

.mobile__menu-container {
  display: none;
}

.mobile__menu-container.active {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 125px 40px 60px 40px;
  background: #e2edff;
  z-index: -20;
  overflow-y: scroll;
}

.mobile__menu-container .menu {
  display: block;
  position: relative;
}

.mobile__menu-container .menu__item {
  position: relative;
  margin-bottom: 40px;
}

.mobile__menu-container .menu__item .icon__arrow {
  width: 15px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.mobile__menu-container .menu__item:hover .icon__arrow,
.mobile__menu-container .menu__item:focus.icon__arrow {
  stroke: var(--main-yellow-color);
  rotate: 91deg;
  top: 10px;
  bottom: unset;
}

.mobile__menu-container .sub__menu li:first-child {
  margin-top: 36px;
}

.mobile__menu-container .sub__menu li {
  margin-bottom: 22px;
}

.mobile__menu-container .sub__menu li:last-child {
  margin-bottom: 0;
}

.mobile__menu-container .sub__menu.active {
  display: block;
  font-weight: 400;
}

.mobile__menu-container .letters,
.home .letters {
  display: block;
  position: absolute;
  right: -85px;
  width: 300px;
  height: 300px;
}

.mobile__menu-container .letters {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.home .letters {
  top: 12vh;
}

.letters__position {
  position: relative;
}

.letters .img__m {
  position: absolute;
  top: 0;
  right: 30px;
  width: 158px;
  height: 192px;
}

.letters .img__p {
  position: absolute;
  top: 115px;
  right: 8px;
  width: 190px;
  height: 228px;
}

.header__inner.active,
.footer__inner.active {
  background-color: #f6f8fc;
}

.corners.active .corner {
  background: radial-gradient(circle at 100% 36%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgb(246, 248, 252) 50%, rgb(246, 248, 252) 100%);
  background-size: 100% 200%;
}

.person {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 45px;
  background: linear-gradient(90deg, #0075ff 0%, rgba(48, 136, 49, 0) 120.32%);
  border-radius: 20px;
  width: fit-content;
  padding: 14px 60px 10px 20px;
  color: var(--main-light-color);
  z-index: -2;
  margin-bottom: 16px;
}

.title__label {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  padding: 9px 18px 9px 18px;
  background: #ffffff;
  border-radius: 27px;
  width: 276px;
  height: 40px;
  color: var(--main-blue-color);
  left: 52px;
  top: 14px;
}

.title__label::after {
  content: '';
  display: block;
  position: absolute;
  right: -2px;
  bottom: -5px;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  z-index: -1;
}

.person__container {
  position: relative;
  height: 100vh;
}

.person__container-inner {
  position: absolute;
  bottom: 100px;
  left: 10px;
}

.person .title__label::after {
  background-color: #ff5871;
}

.btn__main-screen {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: var(--main-light-color);
}

.btn__main-screen .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-light-color);
  margin-right: 19px;
}

.btn__main-screen .text {
  display: block;
}

.btn__main-screen:hover .circle,
.btn__main-screen:focus .circle {
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.7);
}

.btn__main-screen:hover .text,
.btn__main-screen:focus .text {
  text-shadow: rgba(255, 255, 255, 0.9) 2px 0 5px;
}

.icon__arrow-btn-bottom {
  stroke: var(--main-black-color);
}

.biography.fp-table {
  display: block;
}

.biography__left-part-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.secondary__title-label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: var(--main-yellow-color);
  margin-bottom: 7px;
}

.secondary__title {
  font-weight: 700;
  font-size: 33px;
  line-height: 90%;
  color: var(--main-blue-color);
  margin-bottom: 18px;
}

.base__text {
  height: 26vh;
  overflow-y: scroll;

}

.base__text p {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: var(--main-gray-color);
  text-align: right;
  padding-right: 18px;
}

.base__text::-webkit-scrollbar,
.project__article-left-part::-webkit-scrollbar-thumb {
  width: 3px;
  /* ширина для вертикального скролла */
  background-color: #dadada;
}

/* ползунок скроллбара */
.base__text::-webkit-scrollbar-thumb,
.project__article-left-part::-webkit-scrollbar-thumb {
  background-color: var(--main-blue-color);
  display: block;
  width: 7px !important;
  height: 57px;
}

.btn__main-arrow {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  color: var(--main-blue-color);
  margin-top: 25px;
}

.btn__main-arrow span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid var(--main-blue-color);
  margin-right: 9px;
}

.btn__main-arrow:hover span,
.btn__main-arrow:focus span {
  background-color: var(--main-blue-color);
}

.btn__main-arrow:hover .icon__arrow,
.btn__main-arrow:focus .icon__arrow {
  stroke: var(--main-light-color);
}

.icon__arrow {
  stroke: var(--main-blue-color);
  rotate: -89deg;
}

.biography__left-part-inner .btn__main-arrow,
.history__right-part .btn__main-arrow {
  flex-direction: row-reverse;
  float: right;
}

.biography__left-part-inner .btn__main-arrow span,
.history__right-part .btn__main-arrow span {
  margin-right: 0;
  margin-left: 9px;
}

.biography__right-part .slick-slide img {
  height: 40vh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li {
  width: 18px;
  height: 18px;
  margin-right: 9px;
}

.slick-dots li button {
  width: 0;
  height: 0;
  padding: 0;
}

.slick-dots li button:before {
  content: '';
  font-size: 0;
  line-height: 0;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #DADADA;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  width: 8px;
  height: 8px;
  background-color: var(--main-blue-color);
  border: 5px solid var(--main-yellow-color);
}

.history__right-part .secondary__title-label,
.history__right-part .secondary__title {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 52px;
}

.history__right-part .base__text p {
  padding-right: 18px;
  text-align: right;
}

.history__left-part {
  display: flex;
  justify-content: space-between;
}

.history__left-part img {
  width: 48%;
  max-width: 492px;
  max-height: 282px;
  border-radius: 10px;
}

.letters {
  display: none;
}

.btn__arrow-list .btn__main-arrow {
  margin-top: 0;
}

.btn__arrow-list .btn__main-arrow span {
  margin-right: 0;
}

.btn__arrow-list {
  display: flex;
  justify-content: end;
  margin-bottom: 43px;
}

.btn__arrow-list li:first-child {
  margin-right: 4px;
}

.btn__arrow-list li:first-child svg {
  rotate: 1deg;
}

.btn__arrow-list li:last-child svg {
  rotate: 181deg;
}

.btn__arrow-list li:hover span,
.btn__arrow-list li:focus span {
  background-color: var(--main-blue-color);
}

.btn__arrow-list li:hover .icon__arrow,
.btn__arrow-list li:focus .icon__arrow {
  stroke: var(--main-light-color);
}

.figures__slider-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.figures__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: var(--main-blue-color);
  margin-right: 10px;
}

.figures__slider-item {
  width: 100%;
  max-width: 684px;
  margin-right: 23px;
}

.figures__slider .slick-slide {
  margin: 0 12px;
}

.figures__slider .slick-slide .slick-active:nth-child(3) {
  margin-right: -200px;
}

.figures__slider {
  overflow-x: visible;
}

.figures__slider .slick-list {
  overflow: visible;
}

.figures__slider-wrap .btn__main-arrow {
  margin: 0;
}

.figures__container {
  clip-path: inset(-100vw -100vw -100vw 0);
  overflow-x: visible;
}

.figures__slider-wrap .btn__main-arrow span {
  background-color: var(--main-yellow-color);
  border: 1px solid var(--main-yellow-color);
  border-radius: 50%;
  margin: 0;
}

.figures__slider-wrap .icon__arrow {
  rotate: 181deg;
}

footer {
  bottom: 0;
  z-index: 50;
}

.footer__container {
  padding-top: 17px;
  padding-bottom: 15px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__left-part p,
.footer__right-part p {
  display: none;
}

.footer__left-part ul {
  display: flex;
}

.footer__left-part li {
  margin-right: 11px;
}

.footer__left-part li:last-child {
  margin-right: 0;
}

.footer__left-part li:hover,
.footer__left-part li:focus,
.footer__right-part .footer__icons:hover {
  background-color: var(--main-light-color);
  border-radius: 50%;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #3066c2;
}

.footer__icons svg {
  fill: #3066c2;
}

.reward__top-part {
  border-bottom: 1px solid #dadada;
}

.reward__slider-item {
  position: relative;
}

.reward__slider-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 1px;
  height: 102px;
  background-color: #dadada;
}

.reward__slider-item p {
  font-weight: 700;
  font-size: 22px;
  color: var(--main-blue-color);
  margin-bottom: 15px;
}

.reward__slider-item span {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: var(--main-gray-color);
}

.reward .letters {
  display: none;
}

.history__rector .secondary__title {
  letter-spacing: -0.03em;
}

.university {
  position: relative;
}

.university__container .secondary__title {
  margin-bottom: 0;
}

.university__wrap {
  margin-top: 60px;
}

.btn__img {
  display: block;
  margin-bottom: 60px;
}

.img__kuk {
  width: 168px;
  height: 33px;
}

.img__knukim {
  width: 279px;
  height: 26px;
}

.university__btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: var(--main-black-color);
  margin-bottom: 60px;
}

.university__btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: var(--main-yellow-color);
  margin-left: 9px;
}

.university__btn .icon__arrow {
  rotate: 181deg;
  stroke: var(--main-light-color);
}

.university__btn:hover span,
.university__btn:focus span {
  background-color: unset;
  border: 1px solid var(--main-yellow-color);
}

.university__btn:hover .icon__arrow,
.university__btn:focus .icon__arrow {
  stroke: var(--main-yellow-color);
}

.books {
  position: relative;
}

.books__container .secondary__title,
.books__container .secondary__title-label {
  text-align: end;
}

.arrow__big-left,
.arrow__big-right {
  display: none;
}

.books__slider-item img {
  width: 197px;
  height: 233px;
  margin: 0 auto 13px auto;
}

.books__slider-item .university__btn {
  justify-content: center;
}

.project__article-left-part {
  overflow-y: scroll;
  padding-right: 30px;
  height: 24vh;
}

.base__text-color {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: var(--main-blue-color);
}

.project__article-left-part .base__text {
  overflow-y: hidden;
  height: fit-content;
}

.project__article-left-part .base__text p {
  padding: 0;
  text-align: start;
}

.project__article-right-part {
  margin-top: 18px;
}

.project__article-item img {
  width: 100%;
  height: 187px;
  object-fit: cover;
  border-radius: 20px;
}

.project__article-two .base__text {
  overflow-y: hidden;
  height: fit-content;
}

.project__article-two .base__text p {
  padding: 0;
  text-align: start;
}

.project__article-item.slick-slide {
  padding: 0 5px;
}

.project__article-slider-big .project__article-item img {
  height: 70vh;
}

.project__article-slider-big .project__article-item .slick-slide {
  height: 70vh;
}

.project__article-slider-big .slick-dots {
  bottom: -30px;
}

.project__article .letters,
.project__article-two .letters {
  display: none;
}

.section__project-article-right-bg {
  -webkit-clip-path: polygon(180% 0, 100% 0%, 100% 100%, 55% 100%);
  clip-path: polygon(180% 0, 100% 0%, 100% 100%, 55% 100%);
  background-color: var(--main-yellow-color);
  position: absolute;
  width: 45vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: -1;
}

.home {
  position: relative;
}

.home__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 90%;
  color: var(--main-blue-color);
  margin-bottom: 25px;
}

.btn__home {
  display: flex;
  align-items: center;
}

.btn__home .text {
  font-weight: 700;
  font-size: 22px;
  color: var(--main-black-color);
  margin-right: 11px;
}

.btn__home .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: var(--main-blue-color);
}

.btn__home .icon__arrow {
  rotate: 181deg;
  stroke: var(--main-light-color);
}

.btn__home:hover .text,
.btn__home:focus .text {
  color: var(--main-blue-color);
}

.btn__home:hover .circle,
.btn__home:focus .circle {
  background-color: var(--main-light-color);
}

.btn__home:hover .icon__arrow,
.btn__home:focus .icon__arrow {
  stroke: var(--main-blue-color);
}

.home__container {
  padding-top: 121px;
  height: 100vh;
}

.section__home-bg {
  -webkit-clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);
  background: #668FE2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -1px;
  right: -165px;
  z-index: -1;
}

.home__right-part img {
  width: 336px;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.figures__wrap-position .secondary__title {
  margin-bottom: 55px;
}

.figures__wrap-position .btn__arrow-list {
  justify-content: start;
}

.clip {
  background-color: var(--main-yellow-color);
}

.clip .secondary__title-label {
  color: var(--main-light-color);
}

.clip__slider-item {
  padding: 0 4px;
}

.video {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1031px;
  height: auto;
}

.video img {
  width: 100%;
  max-width: 1031px;
  height: auto;
}

.video span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-blue-color);
  cursor: pointer;
}

.video span svg {
  fill: var(--main-yellow-color);
}

.video:hover span,
.video:focus span {
  background-color: var(--main-yellow-color);
}

.video:hover span svg,
.video:focus span svg {
  fill: var(--main-blue-color);
}

.clip__slider-title {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  color: var(--main-blue-color);
  margin-bottom: 18px;
}

.clip__slider-title::before {
  content: '';
  display: block;
  width: 3px;
  height: 28px;
  background-color: var(--main-blue-color);
  margin-right: 11px;
}

.concerts {
  background-color: #658EE2;
}

.concerts .secondary__title {
  color: var(--main-light-color);
}

.concerts .btn__main-arrow span {
  border-color: var(--main-light-color);
}

.concerts .icon__arrow {
  stroke: var(--main-light-color);
}

.concerts .btn__arrow-list li:hover span,
.concerts .btn__arrow-list li:focus span,
.concerts .btn__main-arrow:hover span,
.concerts .btn__main-arrow:focus span {
  background-color: var(--main-yellow-color);
  border-color: var(--main-yellow-color);
}

.concerts .btn__arrow-list li:hover .icon__arrow,
.concerts .btn__arrow-list li:focus .icon__arrow,
.concerts .btn__main-arrow:hover .icon__arrow,
.concerts .btn__main-arrow:focus .icon__arrow {
  stroke: var(--main-blue-color);
}

.concerts .clip__slider-title {
  color: var(--main-light-color);
}

.concerts .clip__slider-title::before {
  background-color: var(--main-yellow-color);
}

.concerts .btn__main-arrow {
  color: var(--main-light-color);
}

.movies .clip__slider-title {
  color: #313233;
}

@media screen and (min-width:768px) {
  .letters {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: -85px;
    width: 300px;
    height: 400px;
  }

  .letters__position {
    position: relative;
  }

  .letters .img__m {
    right: 12px;
    width: 205px;
    height: 248px;
  }

  .letters .img__p {
    right: -28px;
    width: 255px;
    height: 306px;
  }

  .title {
    font-size: 94px;
    padding: 26px 42px 18px 36px;
    margin-bottom: 75px;
  }

  .title__label {
    font-size: 46px;
    width: 594px;
    height: 75px;
    color: var(--main-blue-color);
    left: 98px;
    top: 26px;
  }

  .title__label::after {
    content: '';
    display: block;
    position: absolute;
    right: -2px;
    bottom: -5px;
    width: 100%;
    height: 100%;
    border-radius: 27px;
    z-index: -1;
  }

  .secondary__title-label {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .secondary__title {
    font-size: 76px;
    margin-bottom: 50px;
  }

  .base__text p {
    text-align: start;
    font-size: 22px;
    letter-spacing: -0.02em;
    padding-left: 70px;
  }

  .biography__right-part {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }

  .biography__left-part-inner {
    margin-top: -25px;
  }

  .biography .base__text {
    transform: scaleX(-1);
  }

  .biography .base__text p {
    transform: scaleX(-1);
    text-align: start;
    padding-left: 52px;
    padding-right: 0;
  }

  .btn__main-arrow {
    font-size: 18px;
    margin-top: 36px;
  }

  .btn__main-arrow span {
    width: 50px;
    height: 50px;
    margin-right: 23px;
  }

  .icon__arrow {
    width: 15px;
    height: 16px;
  }

  .biography__left-part-inner .btn__main-arrow {
    flex-direction: inherit;
    float: left;
  }

  .biography__left-part-inner .btn__main-arrow span {
    margin-right: 23px;
    margin-left: 0;
  }

  .slick-dots {
    bottom: 60px;
  }

  .history__container,
  .biography__left-part-inner {
    padding-left: 100px;
    padding-right: 100px;
  }

  .history__right-part {
    position: relative;
  }

  .history__right-part .btn__main-arrow span {
    margin-right: 0;
    margin-left: 23px;
  }

  .history__right-part .base__text p {
    padding-right: 52px;
    padding-left: 0;
  }

  .btn__arrow-list li:first-child {
    margin-right: 12px;
  }

  .figures__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-top: 21px;
  }

  .figures__wrap .secondary__title,
  .figures__wrap .btn__arrow-list {
    margin-bottom: 0;
  }

  .figures__title {
    font-size: 24px;
    line-height: 110%;
  }

  .footer__left-part p,
  .footer__right-part p {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #3066c2;
  }

  .footer__left-part,
  .footer__right-part {
    display: flex;
    align-items: center;
  }

  .footer__left-part p {
    margin-right: 45px;
  }

  .footer__right-part p {
    margin-right: 25px;
  }

  .person__container-inner {
    left: 30px;
    zoom: 0.85;
  }

  .history__rector .secondary__title {
    zoom: 0.74;
  }

  .img__kuk {
    width: 372px;
    height: 73px;
  }

  .img__knukim {
    width: 617px;
    height: 58px;
  }

  .university__btn {
    font-size: 22px;
  }

  .university__btn span {
    width: 58px;
    height: 58px;
    margin-left: 14px;
  }

  .university__btn .icon__arrow {
    width: 19px;
    height: 18px;
  }

  .books__section-bg {
    -webkit-clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
    clip-path: polygon(0 0, 35% 0, 0% 100%, 0 100%);
    background: #668FE2;
    position: absolute;
    width: 50vw;
    height: 85vh;
    top: -1px;
    z-index: -1;
  }

  .base__text-color {
    font-size: 28px;
  }

  .project__article-left-part {
    overflow-y: hidden;
    padding-right: 0;
    height: fit-content;
  }

  .project__article-right-part .slick-dots {
    bottom: -30px;
  }

  .section__project-article-two-bg {
    -webkit-clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
    clip-path: polygon(0 0, 34% 0, 0% 100%, 0 100%);
    background: #668FE2;
    position: absolute;
    width: 30vw;
    height: 60vh;
    top: -1px;
    z-index: -1;
  }

  .home__title {
    font-size: 78px;
    margin-bottom: 16px;
  }

  .btn__home .text {
    margin-right: 18px;
  }

  .btn__home .circle {
    width: 58px;
    height: 58px;
  }

  .btn__home .icon__arrow {
    width: 19px;
    height: 18px;
  }

  .home__right-part img {
    width: 700px;
  }

  .clip__slider-title {
    font-size: 32px;
    margin-bottom: 34px;
  }

  .clip__slider-title::before {
    width: 6px;
    height: 37px;
    margin-right: 25px;
  }

  .video span {
    width: 99px;
    height: 99px;
  }

  .video svg {
    width: 21px;
    height: 24px;
  }

  .books .letters {
    display: none;
  }
}


@media screen and (min-width: 958px) {
  .history__rector .secondary__title {
    zoom: 1;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    zoom: 0.74;
  }

  .fp-table {
    display: flex;
  }

  .header__container {
    padding-top: 29px;
    padding-bottom: 35px;
  }

  .header__wrap,
  .footer__wrap {
    zoom: 0.8;
  }

  .mobile__menu-btn {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu__list {
    display: flex;
  }

  .menu__list li {
    font-weight: 400;
  }

  .menu__item {
    margin-right: 70px;
    width: 113px;
    text-align: center;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu .menu__item:hover > a::after,
  .menu .menu__item:focus > a::after {
    position: absolute;
    bottom: -56px;
    width: 112px;
    margin: 0 auto;
  }

  .menu__item .icon__arrow {
    display: none;
  }

  .person__container-inner {
    bottom: 130px;
    left: 0;
    zoom: 1;
  }

  .btn__main-screen .circle {
    width: 56px;
    height: 56px;
    margin-right: 31px;
  }

  .icon__arrow-btn-bottom {
    width: 15px;
    height: 16px;
  }

  .biography__wrap,
  .history__wrap {
    display: flex;
    align-items: center;
  }

  .biography__wrap {
    flex-direction: row-reverse;
  }

  .biography__left-part {
    width: 45%;
    zoom: 0.74;
    margin-right: -90px;
    display: flex;
    justify-content: flex-end;
  }

  .biography__left-part-inner {
    margin-top: 0;
  }

  .base__text {
    height: 36vh
  }

  .biography__right-part {
    width: 55%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
  }

  .biography__right-part .slick-slide img {
    height: 100vh;

  }

  .slick-dots {
    bottom: 170px;
  }

  .history__container,
  .biography__left-part-inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section_history_bg {
    -webkit-clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
    background: #F1BD06;
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    z-index: -1;
  }

  .history__left-part,
  .history__right-part {
    width: 50%;
    height: 100%;
  }

  .biography__left-part-inner {
    max-width: 610px;
  }

  .history__left-part {
    display: block;
    width: 43%;
    margin-right: 40px;
  }

  .history__left-part img {
    width: 100%;
  }

  .history__left-part img:first-child {
    margin-bottom: 22px;
  }

  .letters {
    zoom: 0.85;
  }

  .figures_section_bg {
    -webkit-clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
    clip-path: polygon(0 0, 34% 0, 0% 100%, 0 100%);
    background: #F1BD06;
    position: absolute;
    width: 30vw;
    height: 60vh;
    top: -1px;
    z-index: -1;
  }

  .figures__title {
    font-size: 45px;
  }

  .figures__slider .slick-slide {
    margin: 0 25px;
  }

  .footer__container {
    padding-top: 33px;
    padding-bottom: 30px;
  }

  .footer__left-part p,
  .footer__right-part p {
    font-size: 22px;
  }

  .footer__left-part p {
    margin-right: 45px;
  }

  .footer__right-part p {
    margin-right: 25px;
  }

  .footer__left-part li {
    margin-right: 17px;
  }

  .footer__icons {
    width: 40px;
    height: 40px;
  }

  .icon-inst {
    width: 16px;
    height: 16px;
  }

  .icon-yt,
  .icon-twitter,
  .icon-tik-tok {
    width: 19px;
    height: 19px;
  }

  .icon-fb,
  .icon-headphones {
    width: 18px;
    height: 19px;
  }

  .reward__slider-item::before {
    height: 225px;
  }

  .reward__slider-item p {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .reward__slider-item span {
    font-size: 22px;
    line-height: 140%;
  }

  .reward {
    position: relative;
  }

  .reward .letters {
    display: block;
  }

  .logo {
    width: 313px;
    height: 39px;
  }

  .menu__list li {
    font-weight: 500;
  }

  .university__wrap {
    display: flex;
    margin-top: 170px;
  }

  .btn__img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 73px;
    margin-bottom: 65px;
  }

  .university__line {
    width: 1px;
    height: 140px;
    background-color: #668FE2;
    margin-right: 104px;
    margin-left: 104px;
    margin-top: -40px;
  }

  .section__university-bg {
    -webkit-clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
    background: #668FE2;
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
    transform: scale(-1, 1);
  }

  .slider__container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
  }

  .books__container .books__slider {
    max-width: 75%;
  }

  .arrow__big-left,
  .arrow__big-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    border: 1px solid #3066C2;
    margin: auto 0;
  }

  .arrow__big-left .icon__arrow,
  .arrow__big-right .icon__arrow {
    width: 28px;
    height: 27px;
    stroke-width: 0.5;
  }

  .arrow__big-left .icon__arrow {
    rotate: 0.5deg;
  }

  .arrow__big-right .icon__arrow {
    rotate: 181deg;
  }

  .arrow__big-left:hover,
  .arrow__big-right:hover,
  .arrow__big-left:focus,
  .arrow__big-right:focus {
    background-color: var(--main-blue-color);
  }

  .arrow__big-left:hover .icon__arrow,
  .arrow__big-right:hover .icon__arrow,
  .arrow__big-left:focus .icon__arrow,
  .arrow__big-right:focus .icon__arrow {
    stroke: var(--main-light-color);
  }

  .books__slider-item img {
    width: 303px;
    height: 358px;
    margin-bottom: 7px;
  }

  .project__article,
  .project__article-two {
    position: relative;
  }

  .project__article .letters,
  .project__article-two .letters {
    display: block;
  }

  .project__article-item img {
    width: 665px;
    height: 461px;

  }

  .project__article-wrap {
    display: flex;
    justify-content: space-between;
  }

  .project__article-left-part,
  .project__article-right-part,
  .project__article-two-left-part,
  .project__article-two-right-part {
    width: 45%;
  }

  .project__article-right-part {
    margin-top: 0;
  }

  .project__article-slider-big .project__article-item img {
    width: 100%;
  }

  .project__article .fp-overflow {
    overflow-y: inherit;
  }

  .section__project-article-right-bg {
    -webkit-clip-path: polygon(80% 0, 100% 0%, 100% 100%, 55% 100%);
    clip-path: polygon(80% 0, 100% 0%, 100% 100%, 55% 100%);
    background-color: var(--main-yellow-color);
    position: absolute;
    width: 30vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .menu__item {
    position: relative;
  }

  .menu__item:hover .sub__menu {
    display: block;
    position: absolute;
    top: 82px;
    left: -69px;
  }

  .sub__menu-item {
    display: block;
    background-color: #E7F0FF;
    width: 256px;
    border-bottom: 1px solid #ABBFE0;
    padding-top: 16px;
    padding-bottom: 16px
  }

  .sub__menu-item:last-child {
    border-radius: 0px 0px 20px 20px;
  }

  .sub__menu-item:hover {
    color: var(--main-yellow-color);
  }

  .sub__menu-item a {
    display: block;
    width: 256px;
    background-color: #E7F0FF;
  }

  .home__container {
    padding-top: 0;
  }

  .home .letters {
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .home__title {
    font-size: 96px;
    margin-bottom: 28px;
  }

  .home__right-part img {
    width: 878px;
    right: 100px;
  }

  .section__home-bg {
    width: 60vw;
    right: 0;
  }

  .books .letters {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .person__container-inner {
    bottom: 184px;
  }

}

@media screen and (min-width: 1370px) {
  .home__container {
    display: flex;
    align-items: center;
  }

  .section__home-bg {
    width: 45vw;
  }

}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1515px;
    zoom: 0.8;
  }

  .biography__left-part {
    zoom: 0.8;
    margin-right: 0;
  }

  .history__left-part {
    width: 39%;
  }

  .letters .img__m {
    top: -100px;
    width: 291px;
    height: 353px;
    margin-right: -26px;
  }

  .letters .img__p {
    top: 80px;
    right: -22px;
    width: 349px;
    height: 419px;
  }

}

@media screen and (min-width: 1515px) {

  .container,
  .biography__left-part {
    zoom: 0.88;
  }

  .letters {
    zoom: 1;
  }
}

@media screen and (min-width: 1745px) {

  .container,
  .biography__left-part {
    zoom: 1;
  }

  .history__wrap {
    justify-content: space-between;
  }


  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}

/* .figures .fp-overflow::-webkit-scrollbar {
  display: none;
}
.figures .fp-overflow {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

.figures__slider .slick-list::-webkit-scrollbar {
  /* display: none; */
  opacity: 0;
}

.figures__slider .slick-list {
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

.figures .fp-overflow::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 0%) !important;
}

.fp-section {
  z-index: 0;
}