@import url('https://fonts.cdnfonts.com/css/gotham-pro');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
  --main-light-color: #ffffff;
  --main-black-color: #292929;
  --main-blue-color: #3066c2;
  --main-yellow-color: #f1bd06;
  --main-gray-color: #32373a;
}

*,
html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  margin: 0;
}

h2 {
  font-family: 'Gotham Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1515px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.fp-watermark {
  display: none;
}

.fp-is-overflow .fp-overflow.fp-auto-height-responsive,
.fp-is-overflow .fp-overflow.fp-auto-height,
.fp-is-overflow>.fp-overflow {
  overflow-y: inherit;
}

.slick-prev,
.slick-next {
  display: none !important;
}

header,
footer {
  width: 100%;
  position: fixed;
}

.header__inner,
.footer__inner {
  background: rgba(225, 236, 255, 0.8);
}

header {
  top: 0;
  z-index: 50;
}

.corners {
  position: relative;
}

.corner {
  background: radial-gradient(circle at 100% 36%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(225, 236, 255, 0.8) 50%,
      rgba(225, 236, 255, 0.8) 100%);
  background-size: 100% 200%;
  height: 85px;
  width: 57px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.top-right {
  left: auto;
  right: 0;
  transform: scale(-1, 1);
}

.bottom-left {
  top: auto;
  left: 0;
  bottom: 0;
  transform: scale(1, -1);
}

.bottom-right {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}

.header__container {
  padding-top: 20px;
  padding-bottom: 16px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 172px;
  height: 22px;
}

.sub__menu {
  display: none;
}

.menu {
  display: none;
  font-weight: 400;
  font-size: 22px;
  color: #3066c2;
}

.menu li:hover,
.menu li:focus {
  font-weight: 700;
}

.menu .menu__item:hover>a::after,
.menu .menu__item:focus>a::after {
  content: '';
  display: block;
  width: 104px;
  height: 4px;
  background: #f1bd06;
}

.open {
  display: none;
}

.open svg,
.close svg {
  fill: #3066c2;
}

.close {
  font-weight: 800;
  font-size: 12px;
  color: #3066c2;
  text-transform: uppercase;
}

.close svg {
  margin-right: 11px;
}

.mobile__menu-btn.active .close {
  display: none;
}

.mobile__menu-btn.active .open {
  display: block;
}



.mobile__menu-container {
  display: none;
}

.mobile__menu-container.active {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 125px 40px 60px 40px;
  background: #e2edff;
  z-index: -20;
  overflow-y: scroll;
}

.mobile__menu-container .menu {
  display: block;
  position: relative;
}

.mobile__menu-container .menu__item {
  position: relative;
  margin-bottom: 40px;
}

.mobile__menu-container .menu__item .icon__arrow {
  width: 15px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.mobile__menu-container .menu__item:hover .icon__arrow,
.mobile__menu-container .menu__item:focus.icon__arrow {
  stroke: var(--main-yellow-color);
  rotate: 91deg;
  top: 10px;
  bottom: unset;
}

.mobile__menu-container .sub__menu li:first-child {
  margin-top: 36px;
}

.mobile__menu-container .sub__menu li {
  margin-bottom: 22px;
}

.mobile__menu-container .sub__menu li:last-child {
  margin-bottom: 0;
}

.mobile__menu-container .sub__menu.active {
  display: block;
  font-weight: 400;
}

.img__m {
  position: fixed;
  right: -60px;
  top: 180px;
  width: 158px;
  height: 192px;
}

.img__p {
  position: fixed;
  right: -80px;
  top: 280px;
  width: 190px;
  height: 228px;
}

.header__inner.active,
.footer__inner.active {
  background-color: #f6f8fc;
}

.corners.active .corner {
  background: radial-gradient(circle at 100% 36%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgb(246, 248, 252) 50%, rgb(246, 248, 252) 100%);
  background-size: 100% 200%;
}

.person {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 45px;
  background: linear-gradient(90deg, #0075ff 0%, rgba(48, 136, 49, 0) 120.32%);
  border-radius: 20px;
  width: fit-content;
  padding: 14px 60px 10px 20px;
  color: var(--main-light-color);
  z-index: -2;
  margin-bottom: 16px;
}

.title__label {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  padding: 9px 18px 9px 18px;
  background: #ffffff;
  border-radius: 27px;
  width: 276px;
  height: 40px;
  color: var(--main-blue-color);
  left: 52px;
  top: 14px;
}

.title__label::after {
  content: '';
  display: block;
  position: absolute;
  right: -2px;
  bottom: -5px;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  z-index: -1;
}

.person__container {
  position: absolute;
  bottom: 100px;
  left: 10px;
}

.person .title__label::after {
  background-color: #ff5871;
}

.btn__main-screen {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: var(--main-light-color);
}

.btn__main-screen span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-light-color);
  margin-right: 19px;
}

.btn__main-screen:hover span,
.btn__main-screen:focus span {

  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.7);
}

.icon__arrow-btn-bottom {
  stroke: var(--main-black-color);
}

.biography.fp-table {
  display: block;
}

.biography__left-part-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.secondary__title-label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: var(--main-yellow-color);
  margin-bottom: 7px;
  margin-top: 24px;
}

.secondary__title {
  font-weight: 700;
  font-size: 33px;
  color: var(--main-blue-color);
  margin-bottom: 18px;
}

.base__text {
  height: 26vh;
  overflow-y: scroll;

}

.base__text p {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: var(--main-gray-color);
  text-align: right;
  padding-right: 18px;
}

.base__text::-webkit-scrollbar {
  width: 3px;
  /* ширина для вертикального скролла */
  background-color: #dadada;
}

/* ползунок скроллбара */
.base__text::-webkit-scrollbar-thumb {
  background-color: var(--main-blue-color);
  display: block;
  width: 7px !important;
  height: 57px;
}

.btn__main-arrow {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  color: var(--main-blue-color);
  margin-top: 25px;
}

.btn__main-arrow span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid var(--main-blue-color);
  margin-right: 9px;
}

.icon__arrow {
  stroke: var(--main-blue-color);
  rotate: -89deg;
}

.biography__left-part-inner .btn__main-arrow,
.history__right-part .btn__main-arrow {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.biography__left-part-inner .btn__main-arrow span,
.history__right-part .btn__main-arrow span {
  margin-right: 0;
  margin-left: 9px;
}

.biography__right-part .slick-slide img {
  height: 40vh;
  object-fit: cover;
  object-position: right;
  width: 100%;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li {

  width: 18px;
  height: 18px;
  margin-right: 9px;
}

.slick-dots li button {
  width: 0;
  height: 0;
  padding: 0;
}

.slick-dots li button:before {
  content: '';
  font-size: 0;
  line-height: 0;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #DADADA;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  width: 8px;
  height: 8px;
  background-color: var(--main-blue-color);
  border: 5px solid var(--main-yellow-color);
}

.history__right-part .secondary__title-label,
.history__right-part .secondary__title {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 52px;
}

.history__right-part .base__text p {
  padding-right: 18px;
  text-align: right;
}

.history__left-part {
  display: flex;
  justify-content: space-between;
}

.history__left-part img {
  width: 48%;
  max-width: 492px;
  max-height: 282px;
  border-radius: 10px;

}

.btn__arrow-list .btn__main-arrow {
  margin-top: 0;
}

.btn__arrow-list .btn__main-arrow span {
  margin-right: 0;
}

.btn__arrow-list {
  display: flex;
  justify-content: end;
  margin-bottom: 43px;
}

.btn__arrow-list li:first-child {
  margin-right: 4px;
}

.btn__arrow-list li:first-child svg {
  rotate: 0deg;
}

.btn__arrow-list li:last-child svg {
  rotate: 180deg;
}

.figures__slider-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.figures__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: var(--main-blue-color);
  margin-right: 10px;
}

.figures__slider-item {
  width: 100%;
  max-width: 684px;
  margin-right: 23px;
}



.figures__slider-wrap .btn__main-arrow {
  margin: 0;
}

.figures__slider-wrap .btn__main-arrow span {
  background-color: var(--main-yellow-color);
  border: 1px solid var(--main-yellow-color);
  border-radius: 50%;
  margin: 0;
}

.figures__slider-wrap .icon__arrow {
  rotate: 180deg;
}

footer {
  bottom: 0;
  z-index: 50;
}

.footer__container {
  padding-top: 17px;
  padding-bottom: 15px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__left-part p,
.footer__right-part p {
  display: none;
}

.footer__left-part ul {
  display: flex;
}

.footer__left-part li {
  margin-right: 11px;
}

.footer__left-part li:last-child {
  margin-right: 0;
}

.footer__left-part li:hover,
.footer__left-part li:focus,
.footer__right-part .footer__icons:hover {
  background-color: var(--main-light-color);
  border-radius: 50%;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #3066c2;
}

.footer__icons svg {
  fill: #3066c2;
}


@media screen and (min-width: 768px) {
  .img__m {
    right: -100px;
    width: 291px;
    height: 353px;
  }

  .img__p {

    right: -140px;
    top: 360px;
    width: 349px;
    height: 419px;
  }

  .title {
    font-size: 94px;
    padding: 26px 42px 18px 36px;
    margin-bottom: 75px;
  }

  .title__label {
    font-size: 46px;
    width: 594px;
    height: 75px;
    color: var(--main-blue-color);
    left: 98px;
    top: 26px;
  }

  .title__label::after {
    content: '';
    display: block;
    position: absolute;
    right: -2px;
    bottom: -5px;
    width: 100%;
    height: 100%;
    border-radius: 27px;
    z-index: -1;
  }

  .secondary__title-label {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 40px;
  }

  .secondary__title {
    font-size: 76px;
    margin-bottom: 50px;
  }

  .base__text p {
    text-align: start;
    font-size: 22px;
    letter-spacing: -0.02em;
    padding-left: 70px;
  }

  .biography .base__text {
    transform: scaleX(-1);
  }

  .biography .base__text p {
    transform: scaleX(-1);
    text-align: start;
    padding-left: 52px;
  }

  .btn__main-arrow {
    font-size: 18px;
    margin-top: 36px;
  }

  .btn__main-arrow span {
    width: 50px;
    height: 50px;
    margin-right: 23px;
  }

  .icon__arrow {
    width: 15px;
    height: 16px;
  }

  .biography__left-part-inner .btn__main-arrow {
    flex-direction: inherit;

  }

  .biography__left-part-inner .btn__main-arrow span {
    margin-right: 23px;
    margin-left: 0;
  }

  .history__right-part {
    position: relative;
  }

  .history__right-part .btn__main-arrow span {
    margin-right: 0;
    margin-left: 23px;
  }



  .history__right-part .base__text p {
    padding-right: 52px;
  }

  .letters {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -85px;
    margin: auto 0;
    height: fit-content;
  }

  .history .img__m {
    position: unset;
    width: 158px;
    height: 192px;
  }

  .history .img__p {
    position: unset;
    width: 190px;
    height: 228px;
    margin-top: -100px;
  }

  .figures__container .secondary__title-label {
    margin-top: 0;
  }

  .btn__arrow-list li:first-child {
    margin-right: 12px;
  }

  .figures__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
    margin-top: 21px;
  }

  .figures__wrap .secondary__title,
  .figures__wrap .btn__arrow-list {
    margin-bottom: 0;
  }

  .figures__title {
    font-size: 45px;
    line-height: 110%;
  }

  .footer__left-part p,
  .footer__right-part p {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #3066c2;
  }

  .footer__left-part,
  .footer__right-part {
    display: flex;
    align-items: center;
  }

  .footer__left-part p {
    margin-right: 45px;
  }

  .footer__right-part p {
    margin-right: 25px;
  }

}

@media screen and (min-width: 1024px) {
  .fp-table {
    display: flex;
  }

  .header__container {
    padding-top: 29px;
    padding-bottom: 35px;
  }

  .header__wrap,
  .footer__wrap {
    zoom: 0.8;
  }

  .mobile__menu-btn {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu__list {
    display: flex;
  }

  .menu__list li {
    font-weight: 400;
  }

  .menu li {
    margin-right: 70px;
    width: 113px;
    text-align: center;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu .menu__item:hover>a::after,
  .menu .menu__item:focus>a::after {
    position: absolute;
    bottom: 0;
    width: 112px;
    margin: 0 auto;
  }

  .menu__item .icon__arrow {
    display: none;
  }

  .person__container {
    position: absolute;
    bottom: 130px;
    left: 80px;
  }

  .btn__main-screen span {
    width: 56px;
    height: 56px;
    margin-right: 31px;
  }

  .icon__arrow-btn-bottom {
    width: 15px;
    height: 16px;
  }

  .biography__wrap,
  .history__wrap {
    display: flex;
    align-items: center;
  }

  .biography__wrap {
    flex-direction: row-reverse;
  }

  .biography__left-part {
    width: 40%;
  }

  .biography__right-part {
    width: 60%;
  }

  .biography__right-part .slick-slide img {
    height: 100vh;
  }

  .slick-dots {
    bottom: 170px;
  }

  .history__left-part,
  .history__right-part {
    width: 50%;
    height: 100%;
  }

  .secondary__title-label {
    margin-top: 0;
  }

  .secondary__title-label {

    margin-top: 50px;
  }

  .biography__left-part-inner {
    max-width: 610px;
  }

  .history__container {
    zoom: 0.85;
  }


  .history__left-part {
    display: block;
    width: 43%;
  }

  .history__left-part img {
    width: 100%;
  }

  .history__left-part img:first-child {
    margin-bottom: 22px;
  }

  .letters {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -85px;
    right: -155px;
    margin: auto 0;
    height: fit-content;
    zoom: 0.7;
  }

  .history .img__m {
    width: 291px;
    height: 353px;
  }

  .history .img__p {
    width: 349px;
    height: 419px;
    margin-top: -180px;
  }



  .figures__container {
    zoom: 0.85;
  }

  .figures__slider-item {
    margin-right: 50px;
  }

  .footer__container {
    zoom: 0.85;
    padding-top: 33px;
    padding-bottom: 30px;
  }

  .footer__left-part p,
  .footer__right-part p {
    font-size: 22px;
  }

  .footer__left-part p {
    margin-right: 45px;
  }

  .footer__right-part p {
    margin-right: 25px;
  }

  .footer__left-part li {
    margin-right: 17px;
  }

  .footer__icons {
    width: 40px;
    height: 40px;
  }

  .icon-inst {
    width: 16px;
    height: 16px;
  }

  .icon-yt,
  .icon-twitter,
  .icon-tik-tok {
    width: 19px;
    height: 19px;
  }

  .icon-fb,
  .icon-headphones {
    width: 18px;
    height: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .person__container {
    bottom: 184px;
    left: 184px;
  }

  .header__wrap,
  .footer__container,
  .figures__container,
  .history__container {
    zoom: 1;
  }
}

@media screen and (min-width: 1440px) {
  .history__left-part {
    width: 39%;
  }

  .letters {
    zoom: 1;
  }
}